{% extends 'access/exercise_frame.html' %}
{% load i18n %}


{% block exercise %}
{% if not result.error %}
{% if exercise.instructions %}
<div class="instructions">
  {{ exercise.instructions|safe }}
</div>
  {% if exercise.instructions_file %}
    {% include exercise.instructions_file %}
  {% endif %}
{% elif exercise.instructions_file %}
    {% include exercise.instructions_file %}
{% else %}
<h1>{% trans "ENTER_SUBMISSION" %}</h1>
{% endif %}

{% include 'access/personalized_content_default.html' %}

{% include 'access/accept_general_form.html' %}
{% endif %}
{% endblock %}
