{% extends 'access/exercise_frame.html' %}
{% load i18n %}

{% block exercise %}
{% if result.error %}
<div class="alert alert-danger">
	<h1>{% trans "SUBMISSION_FAILED" %}</h1>
	<p>
		{% blocktrans trimmed %}
			ERROR_OCCURED_CONTACT_STAFF
		{% endblocktrans %}
	</p>
</div>

{% else %}
<h1>{% trans "SUBMISSION_RECEIVED" %}</h1>

{% if result.missing_url %}
<div class="alert alert-danger">
  {% url 'test-result' as surl %}
	{% blocktrans trimmed with key="submission_url" url=surl %}
		WARNING_MISSING_CODE_FOR_RESULT_DELIVERY_TEMPORARY_AVAILABLE -- {{ key }}, {{ url }}
	{% endblocktrans %}
</div>
{% endif %}

<div id="feedback">
	<p>
		{% if exercise.accepted_message %}
			{{ exercise.accepted_message|safe }}
		{% else %}
			{% blocktrans trimmed %}
				SUBMISSION_IN_GRADING_NOW
			{% endblocktrans %}
		{% endif %}
	</p>
</div>
{% endif %}
{% endblock %}
