{% extends 'access/exercise_frame.html' %}
{% load i18n %}

{% block exercise %}

{% if result.accepted and exercise.accepted_message %}
  <div class="alert alert-default">
    <p>{{ exercise.accepted_message|safe }}</p>
  </div>
{% endif %}

{% if exercise.instructions %}
<div class="instructions">
  {{ exercise.instructions|safe }}
</div>
{% endif %}
{% if exercise.instructions_file %}
  {% include exercise.instructions_file %}
{% endif %}

{% include 'access/graded_form.html' %}

{% endblock %}
