{% extends 'access/exercise_frame.html' %}
{% load i18n %}

{% block exercise %}

{% if result.accepted and exercise.accepted_message %}
	<div class="alert alert-default">
		<p>{{ exercise.accepted_message|safe }}</p>
	</div>
{% elif result.accepted and result.form.group_errors %}
	<div class="alert alert-default">
		{% if exercise.accepted_message|safe %}
			<p>{{ exercise.accepted_message|safe }}</p>
		{% endif %}
		<p>
			{% blocktrans trimmed %}
				The whole section within the black line is marked as being
				incorrect, if one of the questions incorrect.
			{% endblocktrans %}
		</p>
	</div>
{% elif result.form.errors %}
	{% include "access/_error_summary.html" %}
{% endif %}

{% if exercise.instructions %}
<div class="instructions">
	{{ exercise.instructions|safe }}
</div>
{% endif %}
{% if exercise.instructions_file %}
	{% include exercise.instructions_file %}
{% endif %}

{% include 'access/graded_form.html' %}

{% endblock %}
