{% extends 'frame.html' %}
{% load i18n %}

{% block head %}
{% include 'access/exercise_head.html' %}
{% endblock %}

{% block body %}
<div id="exercise">

	{% if exercise.title and not hide_exercise_title %}
	<h3 class="exercise-title">{{ exercise.title }}</h3>
	{% endif %}

	{% if result.error or result.rejected %}

		{% if result.missing_files %}
		<div class="alert alert-danger">
		{% if exercise.required_number_of_files %}
			{% blocktrans count num_files=exercise.required_number_of_files %}
			You must submit {{ num_files }} file.
			{% plural %}
			You must submit {{ num_files }} files.
			{% endblocktrans %}
		{% else %}
			{% trans "Every file is required for a submission." %}
		{% endif %}
		</div>
		{% endif %}

		{% if result.invalid_address %}
		<div class="alert alert-danger">
		{% trans "Invalid address entered." %}
		</div>
		{% endif %}

		{% if result.fields %}
		<div class="alert alert-danger">
		{% trans "Missing required fields." %}
		</div>
		{% endif %}

		{% if result.invalid_checksum %}
		<div class="alert alert-danger">
		{% trans "Missing or invalid checksum. Do not tamper with the hidden form fields!" %}
		</div>
		{% endif %}

	{% endif %}

	{% block exercise %}
	{% endblock %}
</div>
{% endblock %}
