{% extends 'frame.html' %}
{% load i18n %}

{% block head %}
{% include 'access/exercise_head.html' %}
{% endblock %}

{% block body %}
<div id="exercise" class="exercise exercise-mooc-grader-v1">

	{% if exercise.title and not hide_exercise_title %}
	<h3 class="exercise-title">{{ exercise.title }}</h3>
	{% endif %}

	{% if result.error or result.rejected %}
	<div class="alert alert-danger">
		<p>{% trans "Submission was not accepted for grading" %}</p>

		{% if result.missing_files %}
		<li>
			{% if exercise.required_number_of_files %}
				{% blocktrans count num_files=exercise.required_number_of_files %}You must submit at least {{ num_files }} file.{% plural %}You must submit at least {{ num_files }} files.{% endblocktrans %}
			{% else %}
				{% trans "Every file is required for a submission." %}
			{% endif %}
		</li>
		{% endif %}

		{% if result.invalid_address %}
		<li>{% trans "Invalid address entered." %}</li>
		{% endif %}

		{% if result.invalid_fields %}
		<li>{% trans "Some required fields are empty or content of some fields is not acceptable" %}</li>
		{% endif %}

		{% if result.invalid_checksum %}
		<li>{% trans "Missing or invalid checksum. Do not tamper with the hidden form fields!" %}</li>
		{% endif %}

	</div>
	{% endif %}

	{% block exercise %}
	{% endblock %}
</div>
{% endblock %}
