{% load i18n %}
{% load access %}
<form
	method="post"
	action="{{ post_url }}"
	{% if result.form.multipart %} enctype="multipart/form-data"{% endif %}
	class="aplus-quiz1"
>
	{% for field in result.form %}

	{% if field.field.open_set %}
		<!-- Beginning of all questions -->
		<fieldset id="{{ field.field.open_set }}"{% if result.accepted and field.field.group_errors %} class="alert alert-default"{% endif %}>
		{% if field.field.set_title %}<legend>{{ field.field.set_title }}</legend>{% endif %}
	{% endif %}

		{% if field.field.type == "static" %}
		<div class="question-description">
			{{ field.field.more|safe }}
		</div>
		{% elif field.field.type == "hidden" %}
			{{ field }}
		{% else %}

		{% if not field.field.row_label or field.field.open_table %}
		<!-- Individual question heading (individual form-group) -->
		<div class="question-area {{ field.field.html_class }} {% if field.errors %}has-error{% endif %}">

			{% if field.field.required %}<span class="required">*</span>{% endif %}

			{% if field.label %}
				{% if field.field.choice_list %}
					<label class="control-label">{{ field.label }}</label>
				{% else %}
					<label class="control-label">{{ field.label_tag }}</label>
				{% endif %}
			{% endif %}

			{% if not field.field.group_errors %}
			{% if result.accepted %}
			<!-- Points badge -->
				{% if not exercise.feedback or field.field.points > 0 %}
				<span class="badge badge-{% if field.field.grade_points > 0 and field.field.grade_points < field.field.max_points %}warning{% elif field.field.name in result.error_fields %}danger{% else %}success{% endif %}">
					{{ field.field.grade_points }} / {{ field.field.max_points }}
				</span>
					{% if field.field.max_points == 0 %}
					<span class="sr-only">
					{% if field.field.name in result.error_fields %}
						{% trans "Incorrect" %}
					{% else %}
						{% trans "Correct" %}
					{% endif %}
					</span>
					{% endif %}
				{% endif %}
			{% else %}
				{% if exercise.max_points > 0 and not exercise.feedback or field.field.points > 0 %}
				<span class="badge">
				{% blocktrans count points=field.field.points %}
				{{ points }} point
				{% plural %}
				{{ points }} points
				{% endblocktrans %}
				</span>
				{% endif %}

			<!-- End of points badge -->
			{% endif %}
			{% endif %}

			{% if field.field.more %}
			<!-- Description of a question -->
			<div class="question-description">
				{{ field.field.more|safe }}
			</div>
			<!-- End of description -->
			{% endif %}


		<!-- End of an individual question heading -->
		{% endif %}

			{% if field.field.row_label %}
			{% if field.field.open_table %}
			<!-- An input field: Table-checkbox or table-radio-field -->
			<table class="table">
			<tr>
				<td>&nbsp;</td>
				{% for choice in field %}
				<td>{{ choice.choice_label|safe }}</td>
				{% endfor %}
				{% if field.field.more_text %}
				<td>{{ field.field.more_text|safe }}</td>
				{% endif %}
			</tr>
			{% endif %}

			{% if field.field.table_more %}
				<td>{{ field }}</td>
			</tr>
			{% else %}
			<tr>
				<td>{{ field.field.row_label|safe }}</td>
				{% for choice in field %}
				<td>{{ choice.tag }}</td>
				{% endfor %}
			{% if not field.field.more_text %}
			</tr>
			{% endif %}
			{% endif %}

			{% if field.errors %}
				{% include "access/field_errors.html" with errors=field.errors type="table" %}
			{% endif %}
			{% if field.field.close_table %}
			</table>
			<!-- End of a table-field -->
			{% endif %}

			{% elif field.field.choice_list %}
			<!-- An input-field: Checkbox- or radio-field -->
			{% for choice in field %}
			<div class="{{ field.field.type }}">
				<label for="{{ choice.id_for_label }}" class="{% if choice.choice_value in choice.value %}option-checked{% endif %}">
					{{ choice.tag }}
					{{ choice.choice_label|safe }}
				</label>
				{% if result.form.reveal_correct or result.model_answer %}
					{# Indicating the correct and neutral options and hiding hints, if the form is a model answer #}
					{% if choice.choice_value in field.field.correct and not field.field.answer_correct %}
						<i data-aplus-once="yes" class="quiz1-icon-correct" aria-hidden="true"></i>
					{% elif choice.choice_value in field.field.neutral %}
						{% if result.model_answer %}
							<span><em>**{% trans "neutral option which does not affect grading"%}**</em></span>
						{% elif result.form.reveal_correct and not field.field.answer_correct %}
							<i data-aplus-once="yes" class="quiz1-icon-neutral" aria-hidden="true"></i>
						{% endif %}
					{% endif %}
					{# end of correct answer #}
				{% else %}
					{% if field.field.type == "checkbox" and choice.choice_value in choice.value and field.field.hints %}
						<div>
							{% with hint=field.field.hints|find_checkbox_hints:choice.choice_value %}
								{% if hint %}
									<p class="question-hint hint-checkbox">
										{{ hint|safe }}
									</p>
								{% endif %}
							{% endwith %}
						</div>
					{% endif %}
				{% endif %}
			</div>
			{% endfor %}
			{% if field.errors %}
				{% include "access/field_errors.html" with errors=field.errors %}
			{% endif %}
			<!-- End of a checkbox- or radio-field -->
			{% else %}
			<!-- An input-field: (mainly) Text-field -->
			{{ field }}
			{% if field.errors %}
				{% include "access/field_errors.html" with errors=field.errors %}
			{% endif %}
			<!-- End of a text-field -->
			{% endif %}

		{% if result.accepted and not result.model_answer and not field.field.row_label or field.field.close_table %}
			<!-- Question feedback -->
			<div>
				{% if field.field.type == "checkbox" %}
					{% include "access/graded_form_feedback.html" with field=field.field hints=field.field.hints|find_common_hints:field.value %}
				{% else %}
					{% include "access/graded_form_feedback.html" with field=field.field hints=field.field.hints %}
				{% endif %}
			</div>
			<!-- End of question feedback -->
		{% endif %}


		</div>
		{% endif %}

	{% if field.field.close_set %}
	<!-- End of all questions -->
		</fieldset>
	{% endif %}
	{% if field.field.randomized and not result.accepted %}
	<input type="hidden" name="{{ field.field.name }}_sample" value="{{ field.field.random_sample }}" />
	<input type="hidden" name="{{ field.field.name }}_checksum" value="{{ field.field.random_checksum }}" />
	{% endif %}
	{% endfor %}

	{% if post_url or not result.accepted %}
	<div class="form-group">
		{% if result.form.sample or result.form.checksum %}
		<input type="hidden" name="_sample" value="{{ result.form.sample }}" />
		<input type="hidden" name="_checksum" value="{{ result.form.checksum }}" />
		{% endif %}
		{% if not result.form.disabled %}
		<input type="submit" value="{% trans 'Submit' %}" class="btn btn-primary aplus-submit" />
		{% endif %}
	</div>
	{% endif %}
</form>
