{% load i18n %}

{% if hints %}
	{% for hint in hints  %}
		<p class="question-hint hint-general">
			{{ hint|safe }}
		</p>
	{% endfor %}
{% endif %}
{% if not result.model_answer %}
	<p class="question-feedback">
		{% if field.answer_correct %}
			<i class="quiz1-icon-correct" aria-hidden="true"></i>
			<span class="feedback-text">{% trans "Correct!" %}</span>
		{% else %}
			<i class="quiz1-icon-incorrect" aria-hidden="true"></i>
			<span class="feedback-text">
				{% if not result.form.reveal_correct %}
					{% trans "Incorrect" %}
				{% else %}
					{# if "reveal-model-at-max-submissions" is set to true, the correct answers are revealed #}
					{% if field.type == "checkbox" or field.type == "radio" %}
						{% trans "Incorrect." %}
						<span data-aplus-once="yes">
							{% trans "You can check the correct options above." %}
							{% if field.neutral %}
								{% trans "Neutral options which do not affect grading are marked with a question mark." %}
							{% endif %}
						</span>
					{% else %}
						{% trans "Incorrect." %}
						<span data-aplus-once="yes">
							{% blocktrans with correct=field.correct trimmed %}
								The correct answer is: {{ correct }}
							{% endblocktrans %}
						</span>
					{% endif %}
				{% endif %}
			</span>
		{% endif %}
	</p>
{% endif %}
