{% load i18n %}

{% if hints %}
	{% for hint in hints  %}
		<p class="question-hint hint-general">
			{{ hint|safe }}
		</p>
	{% endfor %}
{% endif %}
{% if not result.model_answer %}
	<p class="question-feedback">
		{% if field.answer_correct %}
			{% if not field.group_errors %}
				<i class="quiz1-icon-correct" aria-hidden="true"></i>
				<span class="feedback-text">{% trans "FEEDBACK_CORRECT_WITH_PUNCTUATION" %}</span>
			{% endif %}
		{% else %}
			{% if not field.group_errors %}
				<i class="quiz1-icon-incorrect" aria-hidden="true"></i>
			{% endif %}
			<span class="feedback-text">
				{% if not result.form.reveal_correct %}
					{% if not field.group_errors %}
						{% trans "INCORRECT" %}
					{% endif %}
				{% else %}
					{# if "reveal-model-at-max-submissions" is set to true, the correct answers are revealed #}
					{% if field.type == "checkbox" or field.type == "radio" %}
						{% trans "FEEDBACK_INCORRECT_WITH_PUNCTUATION" %}
						<span data-aplus-once="yes">
							{% trans "YOU_CAN_CHECK_CORRECT_ANSWERS_ABOVE" %}
							{% if field.neutral %}
								{% trans "NEUTRAL_ANSWERS_MARKED_WITH_QUESTION_MARK" %}
							{% endif %}
						</span>
					{% else %}
						{% trans "FEEDBACK_INCORRECT_WITH_PUNCTUATION" %}
						<span data-aplus-once="yes">
							{% blocktrans trimmed with correct=field.correct %}
								CORRECT_ANSWER_IS -- {{ correct }}
							{% endblocktrans %}
						</span>
					{% endif %}
				{% endif %}
			</span>
		{% endif %}
	</p>
{% endif %}
