__pycache__/
*.py[cod]
*$py.class

gitpull.log

db.sqlite3
uploads/
settings_local.py
local_settings.py
scripts/chroot_execvp

.idea
.settings
.project
.pydevproject
*.sublime-project
*.sublime-workspace

.DS_Store
*~
venv

#### Development Environment ####
 
# symbolic link exercises to /srv/courses 
# Important!! This symbolic link should be created in order to debug the mooc grader
exercises

# automatic generated keys
grader/ajax_key.py
grader/secret_key.py
