Django ~= 3.2.12
git+https://github.com/apluslms/django-essentials.git@1.4.0#egg=django-essentials==1.4.0
requests ~= 2.25.1
PyYAML ~= 5.4.1
docutils ~= 0.17.1
python-magic ~= 0.4.22
aplus-auth ~= 0.2.0
docker ~= 5.0.0
