[Unit]
Description=uWSGI Emperor service

[Service]
ExecStart=/srv/grader/venv/bin/uwsgi --ini /srv/grader/grader-uwsgi.ini
SyslogIdentifier=grader
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
ExecReload=/bin/sh -c "echo c > /run/grader/uwsgi.master"

[Install]
WantedBy=multi-user.target
